@font-face {
  font-family: 'HelveticaNowDisplay-Light';
  src: url('/fonts/HelveticaNowDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay-Regular';
  src: url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay-Medium';
  src: url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay-Bold';
  src: url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay-ExtraBold';
  src: url('/fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Light';
  src: url('/fonts/NeueMachina-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('/fonts/NeueMachina-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina-Bold';
  src: url('/fonts/NeueMachina-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
